body {
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
}

header, nav, main, footer {
    padding: 0px;
    text-align: center;
    color: rgb(227, 242, 255);
}

.box a{
    font-size: 20px;
    font-weight: bold;
    transition: font-size 0.3s; /* Weiche Animation für die Schriftgrößenänderung */
}

.box a:hover {
    font-size: 25px; /* Vergrößert die Schriftgröße beim Hover */
}

header h1 {
    color: rgb(0, 167, 239);

}

/* titel felder */
nav ul {
    display: flex;        /* Flexbox-Layout verwenden */
    justify-content: center; /* Horizontales Zentrieren der Elemente */
    list-style-type: none;   /* Entfernt die Aufzählungszeichen */
    padding: 0;              /* Entfernt den Standard-Padding */
}
nav ul li {
    margin: 0 50px; /* Fügt horizontalen Abstand zwischen den Links hinzu */
}

nav ul li a {
    text-decoration: none; /* Entfernt die Unterstreichung von Links */
}
/* box style */
.box {
    width: auto;           /* Breite des Kastens */
    height: auto;           /* Automatische Höhe basierend auf Inhalt */
    background-color: #f8f8f8; /* Hintergrundfarbe */
    box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Schatteneffekt für einen 3D-Look */
}

#contactButtom {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #007BFF;
    color:white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#contactButtom:hover{
    background-color: 0056b3;
}

div form label{
    color: rgb(227, 242, 255);
}

/* Kontakt box */
.contact-form {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background-color: #1a1a1a;
    border-radius: 10px;
}

.contact-form label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 97%;
    padding: 8px;
    margin-top: 5px;
    background-color: #1a1a1a;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact-form textarea{
    height: 100px;
}

.contact-form button {
    background-color: #0056b3;
    color: white;
    border: none;
    padding: 6px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #ff00cc;
}


